:root {
}

.name-tag-panel {
    background-image: url("project://database/Assets/Textures/UI/Name%20Tag.png?fileID=2800000&guid=59d3c893d955c1a4589ff45fb0cb77d3&type=3#Name Tag");
    position: absolute;
    height: 40px;
    left: -5px;
    top: -10px;
    right: -5px;
}

.left-hinge {
    background-image: url("project://database/Assets/Textures/UI/Hinge.png?fileID=2800000&guid=a4f4135e4311d4d499422116792b5885&type=3#Hinge");
    height: 48px;
    transform-origin: 25% 25%;
    width: 48px;
    aspect-ratio: auto;
    position: absolute;
    left: -12px;
    bottom: -36px;
}

.right-hinge {
}

.right-hinge {
    scale: -1 1;
    right: -36px;
    left: auto;
    bottom: -36px;
    transform-origin: 25% 25%;
    height: 48px;
    width: 48px;
    position: absolute;
    background-image: url("project://database/Assets/Textures/UI/Hinge.png?fileID=2800000&guid=a4f4135e4311d4d499422116792b5885&type=3#Hinge");
}

.name-label {
    position: absolute;
    top: 4px;
    left: 8px;
    right: 8px;
    bottom: 4px;
    white-space: normal;
    -unity-text-outline-width: 0.4px;
    -unity-text-outline-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    -unity-text-align: middle-center;
    text-overflow: clip;
    font-size: 33px;
    -unity-text-auto-size: best-fit 10px 100px;
    -unity-text-generator: advanced;
}
